<h2>Simulators</h2>
<table>
  <thead>
  <tr>
    <th>Simulated endpoint</th>
    <th>Body Match?</th>
    <th>Response</th>
    <th>Requests</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% endpoints.each do |endpoint| %>
    <tr>
      <td><%= endpoint.http_method %> <%= endpoint.route %><%= endpoint_query_string(endpoint) %> <%= custom_matcher?(endpoint) %></td>
      <td><%= endpoint_match endpoint %></td>
      <td>
        <% if endpoint.readonly? %>
          Cannot edit dynamic endpoints
        <% else %>
          <%= link_to_response_edit endpoint %>
        <% end %>
      </td>
      <td>
        <%= link_to_read_requests endpoint %>
      </td>
      <td>
        <form action="/ui/response/<%= endpoint.http_method %><%= endpoint.route %>" method="post">
          <input type="hidden" value="delete" name="_method">
          <input type="hidden" value="<%= endpoint_match endpoint %>" name="match">
          <button class='btn-link' type="submit">Reset</button>
        </form>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>