<div class="page-header">
    <h1>Simulators</h1>
    <h2>Requests to <%= config.http_method %> <%= config.route %></h2>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Body</th>
        <th>Headers</th>
    </tr>
    </thead>
    <tbody>
    <% config.requests.each do |request| %>
        <tr>
            <th class="header-column"><p><%= request.time %></p></th>
            <td><p><%= h request.body %></p></td>
            <td>
              <ul>
              <% request.headers.each do |header, value| %>
                <li><%= header %>: <%= value %></li>
              <% end %>
              </ul>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>