<div class="page-header">
  <h1>Simulators</h1>
  <h2>Response for <%= config.http_method %> <%= config.route %></h2>
</div>
<form action="/ui/response/<%= config.http_method %><%= config.route %>" method="post">
  <div class="row">
    <% if @errors %>
      <div class="alert alert-danger">
        <p>Body does not match expected schema</p>
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="status">Status code</label>
        <input type="text" class="form-control" id="status" name="status" value="<%= params[:status] || config.response_code %>">
      </div>

      <% if config.match_on_body? %>
          <div class="form-group">
            <label for="match">Match body on</label>
            <input type="text" class="form-control" id="match" name="match" disabled="disabled" value="<%= params[:match] || config.matcher.source %>"/>
            <input type="hidden" id="match" name="match" value="<%= params[:match] || config.matcher.source %>"/>
          </div>
      <% end %>

      <div class="form-group">
        <label for="schema">Response schema</label>
        <textarea type="text" class="form-control" id="schema" name="schema"><%= params['schema'] || config.schema %></textarea>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="body">Response body</label>
        <textarea class="form-control" id="body" name="body"><%= params['body'] || config.response_body %></textarea>
      </div>
    </div>

    <div class="form-actions pull-right">
      <button class='btn btn-primary' type="submit">Save</button>
    </div>
  </div>
</form>